In [36]:
import pandas as pd
import numpy as np

In [56]:
nfl16 = pd.read_csv('nfl16agg.csv', index_col=0)

In [57]:
nfl16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   schedule_date    512 non-null    object
 1   schedule_season  512 non-null    int64
 2   schedule_week    512 non-null    int64
 3   team_x           512 non-null    object
 4   score            512 non-null    float64
 5   opponent_score   512 non-null    float64
 6   margin           512 non-null    float64
 7   home_team        512 non-null    object
 8   id               512 non-null    object
 9   date             512 non-null    object
 10  game_number      512 non-null    int64
 11  team_y           512 non-null    object
 12  passing_yards    512 non-null    int64
 13  rushing_yards    512 non-null    int64
dtypes: float64(3), int64(5), object(6)
memory usage: 60.0+ KB

In [58]:
nfl16['data_equal'] = np.where(nfl16['schedule_date']==nfl16['date'], 1, 0)

In [59]:
nfl16.head()

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,margin,home_team,id,date,game_number,team_y,passing_yards,rushing_yards,data_equal
0,2016-09-08,2016,1,CAR,20.0,21.0,-1.0,DEN,CAR2016-09-08,2016-09-08,1,CAR,194,157,1
1,2016-09-08,2016,1,DEN,21.0,20.0,1.0,DEN,DEN2016-09-08,2016-09-08,1,DEN,178,148,1
2,2016-09-11,2016,1,ARI,21.0,23.0,-2.0,ARI,ARI2016-09-11,2016-09-11,1,ARI,271,92,1
3,2016-09-11,2016,1,ATL,24.0,31.0,-7.0,ATL,ATL2016-09-11,2016-09-11,1,ATL,334,52,1
4,2016-09-11,2016,1,BAL,13.0,7.0,6.0,BAL,BAL2016-09-11,2016-09-11,1,BAL,258,83,1

In [60]:
nfl16.drop(columns = ['date', 'team_y', 'data_equal'],inplace=True)

In [69]:
#test8 = nfl16[nfl16['schedule_week']== 8]

In [70]:
#test8.head()

In [71]:
#test8.sort_values(by = ['schedule_date', 'home_team'])

In [72]:
nfl16['home_yes'] = np.where(nfl16['team_x'] == nfl16['home_team'], 1, 0)

In [116]:
nyj = pd.DataFrame(nfl16[nfl16['team_x'] == 'NYJ'])
nyj

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,margin,home_team,id,game_number,passing_yards,rushing_yards,home_yes
21,2016-09-11,2016,1,NYJ,22.0,23.0,-1.0,NYJ,NYJ2016-09-11,1,189,152,1
33,2016-09-15,2016,2,NYJ,37.0,31.0,6.0,BUF,NYJ2016-09-15,2,374,123,0
84,2016-09-25,2016,3,NYJ,3.0,24.0,-21.0,KC,NYJ2016-09-25,3,188,117,0
115,2016-10-02,2016,4,NYJ,17.0,27.0,-10.0,NYJ,NYJ2016-10-02,4,261,58,1
145,2016-10-09,2016,5,NYJ,13.0,31.0,-18.0,PIT,NYJ2016-10-09,5,255,72,0
183,2016-10-17,2016,6,NYJ,3.0,28.0,-25.0,ARI,NYJ2016-10-17,6,205,33,0
202,2016-10-23,2016,7,NYJ,24.0,16.0,8.0,NYJ,NYJ2016-10-23,7,215,155,1
231,2016-10-30,2016,8,NYJ,31.0,28.0,3.0,CLE,NYJ2016-10-30,8,228,171,0
257,2016-11-06,2016,9,NYJ,23.0,27.0,-4.0,MIA,NYJ2016-11-06,9,213,140,0
283,2016-11-13,2016,10,NYJ,6.0,9.0,-3.0,NYJ,NYJ2016-11-13,10,163,139,1
345,2016-11-27,2016,12,NYJ,17.0,22.0,-5.0,NYJ,NYJ2016-11-27,11,269,64,1
383,2016-12-05,2016,13,NYJ,10.0,41.0,-31.0,NYJ,NYJ2016-12-05,12,216,36,1
405,2016-12-11,2016,14,NYJ,23.0,17.0,6.0,SF,NYJ2016-12-11,13,257,188,0
419,2016-12-17,2016,15,NYJ,13.0,34.0,-21.0,NYJ,NYJ2016-12-17,14,266,116,1
466,2016-12-24,2016,16,NYJ,3.0,41.0,-38.0,NE,NYJ2016-12-24,15,136,111,0
502,2017-01-01,2016,17,NYJ,30.0,10.0,20.0,NYJ,NYJ2017-01-01,16,210,127,1

In [133]:
nyj['pf_5mva'] = nyj.iloc[:,4].rolling(window=5).mean()
nyj['pa_5mva'] = nyj.iloc[:,5].rolling(window=5).mean()
nyj['margin_5mva'] = nyj.iloc[:,6].rolling(window=5).mean()
nyj['pyards_5mva'] = nyj.iloc[:,10].rolling(window=5).mean()
nyj['ryards_5mva'] = nyj.iloc[:,11].rolling(window=5).mean()
nyj.dropna(inplace=True)

#### - note that the rolling average shifted 1 to reflect information that week

In [152]:
def make_team_df(team):
    team = pd.DataFrame(nfl16[nfl16['team_x'] == team])
    team['pf_5mva'] = team.iloc[:,4].rolling(window=5).mean().shift()
    team['pa_5mva'] = team.iloc[:,5].rolling(window=5).mean().shift()
    team['margin_5mva'] = team.iloc[:,6].rolling(window=5).mean().shift()
    team['pyards_5mva'] = team.iloc[:,10].rolling(window=5).mean().shift()
    team['ryards_5mva'] = team.iloc[:,11].rolling(window=5).mean().shift()
    team.dropna(inplace=True)
    return team

In [153]:
nyg = make_team_df('NYG')

In [155]:
nyg

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,margin,home_team,id,game_number,passing_yards,rushing_yards,home_yes,pf_5mva,pa_5mva,margin_5mva,pyards_5mva,ryards_5mva
174,2016-10-16,2016,6,NYG,27.0,23.0,4.0,NYG,NYG2016-10-16,6,403,38,1,17.8,21.6,-3.8,277.0,83.6
201,2016-10-23,2016,7,NYG,17.0,10.0,7.0,LAR,NYG2016-10-23,7,196,36,0,19.2,22.4,-3.2,316.2,68.6
256,2016-11-06,2016,9,NYG,28.0,23.0,5.0,NYG,NYG2016-11-06,8,257,54,1,19.4,21.8,-2.4,281.8,63.0
293,2016-11-14,2016,10,NYG,21.0,20.0,1.0,NYG,NYG2016-11-14,9,240,122,1,19.6,20.6,-1.0,263.2,49.8
312,2016-11-20,2016,11,NYG,22.0,16.0,6.0,NYG,NYG2016-11-20,10,227,102,1,21.8,19.8,2.0,259.0,58.6
344,2016-11-27,2016,12,NYG,27.0,13.0,14.0,CLE,NYG2016-11-27,11,194,104,0,23.0,18.4,4.6,264.6,70.4
373,2016-12-04,2016,13,NYG,14.0,24.0,-10.0,PIT,NYG2016-12-04,12,195,56,0,23.0,16.4,6.6,222.8,83.6
404,2016-12-11,2016,14,NYG,10.0,7.0,3.0,NYG,NYG2016-12-11,13,193,93,1,22.4,19.2,3.2,222.6,87.6
438,2016-12-18,2016,15,NYG,17.0,6.0,11.0,NYG,NYG2016-12-18,14,201,114,1,18.8,16.0,2.8,209.8,95.4
448,2016-12-22,2016,16,NYG,19.0,24.0,-5.0,PHI,NYG2016-12-22,15,356,114,0,18.0,13.2,4.8,202.0,93.8
501,2017-01-01,2016,17,NYG,19.0,10.0,9.0,WAS,NYG2017-01-01,16,180,161,0,17.4,14.8,2.6,227.8,96.2

In [182]:
teams = nfl16['team_x'].unique()

In [195]:
for team in teams:
    print (f"{team.lower()},")
    #print (f"{team.lower()} = make_team_df('{team}')")

car,
den,
ari,
atl,
bal,
buf,
chi,
cin,
cle,
dal,
det,
gb,
hou,
ind,
jax,
kc,
mia,
min,
ne,
no,
nyg,
nyj,
oak,
phi,
sdg,
sea,
tb,
ten,
lar,
pit,
sf,
was,

In [194]:
car = make_team_df('CAR')
den = make_team_df('DEN')
ari = make_team_df('ARI')
atl = make_team_df('ATL')
bal = make_team_df('BAL')
buf = make_team_df('BUF')
chi = make_team_df('CHI')
cin = make_team_df('CIN')
cle = make_team_df('CLE')
dal = make_team_df('DAL')
det = make_team_df('DET')
gb = make_team_df('GB')
hou = make_team_df('HOU')
ind = make_team_df('IND')
jax = make_team_df('JAX')
kc = make_team_df('KC')
mia = make_team_df('MIA')
minn = make_team_df('MIN')
ne = make_team_df('NE')
no = make_team_df('NO')
nyg = make_team_df('NYG')
nyj = make_team_df('NYJ')
oak = make_team_df('OAK')
phi = make_team_df('PHI')
sdg = make_team_df('SDG')
sea = make_team_df('SEA')
tb = make_team_df('TB')
ten = make_team_df('TEN')
lar = make_team_df('LAR')
pit = make_team_df('PIT')
sf = make_team_df('SF')
was = make_team_df('WAS')

In [196]:
test_agg = pd.concat([car,
    den,
    ari,
    atl,
    bal,
    buf,
    chi,
    cin,
    cle,
    dal,
    det,
    gb,
    hou,
    ind,
    jax,
    kc,
    mia,
    minn,
    ne,
    no,
    nyg,
    nyj,
    oak,
    phi,
    sdg,
    sea,
    tb,
    ten,
    lar,
    pit,
    sf,
    was,], axis= 0, join='inner')

In [197]:
test_agg['team_x'].unique()

array(['CAR', 'DEN', 'ARI', 'ATL', 'BAL', 'BUF', 'CHI', 'CIN', 'CLE',
       'DAL', 'DET', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'MIA', 'MIN', 'NE',
       'NO', 'NYG', 'NYJ', 'OAK', 'PHI', 'SDG', 'SEA', 'TB', 'TEN', 'LAR',
       'PIT', 'SF', 'WAS'], dtype=object)

In [198]:
test_agg.shape

(352, 18)

In [199]:
test_agg.to_csv('test_mod.csv')