In [1]:
import pandas as pd
import numpy as np

In [42]:
y_map = pd.read_csv('./data/nfl_merged_all.csv', index_col = 0)

In [43]:
y_map.head()

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,opponent_team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id,game_number,passing_yards,rushing_yards
0,2010-09-09,2010,1,MIN,9.0,14.0,NO,NO,-5.0,49.5,-5.0,NO,MIN2010-09-09,1,171,91
1,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,NO2010-09-09,1,237,79
2,2010-09-12,2010,1,ARI,17.0,13.0,LAR,ARI,-3.0,39.5,4.0,LAR,ARI2010-09-12,1,297,112
3,2010-09-12,2010,1,ATL,9.0,15.0,PIT,ATL,-1.5,39.5,-6.0,PIT,ATL2010-09-12,1,252,58
4,2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF,BUF2010-09-12,1,139,50

In [44]:
y_map[(y_map['schedule_season']== 2010) & (y_map['schedule_week']== 5)].head(1)

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,opponent_team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id,game_number,passing_yards,rushing_yards
124,2010-10-10,2010,5,ARI,30.0,20.0,NO,NO,-7.0,45.5,10.0,ARI,ARI2010-10-10,5,174,41

In [45]:
#y_map['away_team'] = np.where(y_map['team_x']==y_map['home_team'], y_map['opponent_team'], 1)
#y_map['away_team'] = np.where(y_map['away_team']==1, y_map['opponent_team'],"") #, y_map['opponent_team']

In [46]:
y_map['id_opp'] = y_map['opponent_team']+ y_map['schedule_date']

In [47]:
y_map.head()

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,opponent_team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id,game_number,passing_yards,rushing_yards,id_opp
0,2010-09-09,2010,1,MIN,9.0,14.0,NO,NO,-5.0,49.5,-5.0,NO,MIN2010-09-09,1,171,91,NO2010-09-09
1,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,NO2010-09-09,1,237,79,MIN2010-09-09
2,2010-09-12,2010,1,ARI,17.0,13.0,LAR,ARI,-3.0,39.5,4.0,LAR,ARI2010-09-12,1,297,112,LAR2010-09-12
3,2010-09-12,2010,1,ATL,9.0,15.0,PIT,ATL,-1.5,39.5,-6.0,PIT,ATL2010-09-12,1,252,58,PIT2010-09-12
4,2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF,BUF2010-09-12,1,139,50,MIA2010-09-12

In [48]:
y2_map = y_map[['id_opp', 'passing_yards', 'rushing_yards']]
y2_map = y2_map.rename(columns= {
    'id_opp': 'id',
    'passing_yards': 'opp_passing_yards',
    'rushing_yards': 'opp_rushing_yards',
    
})
y2_map.head()

              id  opp_passing_yards  opp_rushing_yards
0   NO2010-09-09                171                 91
1  MIN2010-09-09                237                 79
2  LAR2010-09-12                297                112
3  PIT2010-09-12                252                 58
4  MIA2010-09-12                139                 50

In [49]:
y_map_agg = pd.merge(y_map, y2_map, on = 'id')

In [53]:
y_map_agg.head()

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,opponent_team,team_favorite_id,spread_favorite,over_under_line,margin,home_team,id,game_number,passing_yards,rushing_yards,id_opp,opp_passing_yards,opp_rushing_yards
0,2010-09-09,2010,1,MIN,9.0,14.0,NO,NO,-5.0,49.5,-5.0,NO,MIN2010-09-09,1,171,91,NO2010-09-09,237,79
1,2010-09-09,2010,1,NO,14.0,9.0,MIN,NO,-5.0,49.5,5.0,NO,NO2010-09-09,1,237,79,MIN2010-09-09,171,91
2,2010-09-12,2010,1,ARI,17.0,13.0,LAR,ARI,-3.0,39.5,4.0,LAR,ARI2010-09-12,1,297,112,LAR2010-09-12,253,85
3,2010-09-12,2010,1,ATL,9.0,15.0,PIT,ATL,-1.5,39.5,-6.0,PIT,ATL2010-09-12,1,252,58,PIT2010-09-12,236,143
4,2010-09-12,2010,1,BUF,10.0,15.0,MIA,MIA,-3.0,39.0,-5.0,BUF,BUF2010-09-12,1,139,50,MIA2010-09-12,182,132

In [54]:
y_map_agg.columns

Index(['schedule_date', 'schedule_season', 'schedule_week', 'team_x', 'score',
       'opponent_score', 'opponent_team', 'team_favorite_id',
       'spread_favorite', 'over_under_line', 'margin', 'home_team', 'id',
       'game_number', 'passing_yards', 'rushing_yards', 'id_opp',
       'opp_passing_yards', 'opp_rushing_yards'],
      dtype='object')

In [55]:
nfl_fin = y_map_agg[[
    'id',
    'schedule_date',
    'schedule_season',
    'schedule_week',
    'team_x',
    'score',
    'opponent_score',
    'opponent_team',
    'margin',
    'passing_yards',
    'rushing_yards',
    'opp_passing_yards',
    'opp_rushing_yards',
    'home_team',
    'team_favorite_id',
    'spread_favorite',
    'over_under_line',
    'game_number',
    ]]

In [58]:
nfl_fin = nfl_fin.rename(columns= {
    'team_x': 'target_team',
    'margin': 'win_margin',
    
})

In [59]:
nfl_fin['home_yes'] = np.where(nfl_fin['home_team']== nfl_fin['target_team'], 1, 0)

In [60]:
nfl_fin.head()

,id,schedule_date,schedule_season,schedule_week,target_team,score,opponent_score,opponent_team,win_margin,passing_yards,rushing_yards,opp_passing_yards,opp_rushing_yards,home_team,team_favorite_id,spread_favorite,over_under_line,game_number,home_yes
0,MIN2010-09-09,2010-09-09,2010,1,MIN,9.0,14.0,NO,-5.0,171,91,237,79,NO,NO,-5.0,49.5,1,0
1,NO2010-09-09,2010-09-09,2010,1,NO,14.0,9.0,MIN,5.0,237,79,171,91,NO,NO,-5.0,49.5,1,1
2,ARI2010-09-12,2010-09-12,2010,1,ARI,17.0,13.0,LAR,4.0,297,112,253,85,LAR,ARI,-3.0,39.5,1,0
3,ATL2010-09-12,2010-09-12,2010,1,ATL,9.0,15.0,PIT,-6.0,252,58,236,143,PIT,ATL,-1.5,39.5,1,0
4,BUF2010-09-12,2010-09-12,2010,1,BUF,10.0,15.0,MIA,-5.0,139,50,182,132,BUF,MIA,-3.0,39.0,1,1

In [63]:
nfl_fin = nfl_fin[nfl_fin['schedule_season'] <= 2016]

In [64]:
nfl_fin.to_csv('./data/nfl_fin.csv', index = False)