In [21]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [6]:
nfl_ma = pd.read_csv('./data/nfl_fin.csv')

In [7]:
nfl_ma.tail()

,id,schedule_date,schedule_season,schedule_week,target_team,score,opponent_score,opponent_team,win_margin,passing_yards,rushing_yards,opp_passing_yards,opp_rushing_yards,home_team,team_favorite_id,spread_favorite,over_under_line,game_number,home_yes
3579,SEA2017-01-01,2017-01-01,2016,17,SEA,25.0,23.0,SF,2.0,300,87,215,62,SF,SEA,-11.5,45.0,16,0
3580,SF2017-01-01,2017-01-01,2016,17,SF,23.0,25.0,SEA,-2.0,215,62,300,87,SF,SEA,-11.5,45.0,16,1
3581,TB2017-01-01,2017-01-01,2016,17,TB,17.0,16.0,CAR,1.0,202,112,237,128,TB,TB,-3.0,44.5,16,1
3582,TEN2017-01-01,2017-01-01,2016,17,TEN,24.0,17.0,HOU,7.0,150,103,278,46,TEN,TEN,-3.0,41.5,16,1
3583,WAS2017-01-01,2017-01-01,2016,17,WAS,10.0,19.0,NYG,-9.0,287,38,180,161,WAS,WAS,-9.0,47.5,16,1

In [28]:
def make_team_df(team, mva=7):
    team = pd.DataFrame(nfl_ma[nfl_ma['target_team'] == 'NYJ'])
    team[f'pf_{mva}mva'] = team.iloc[:,5].rolling(window=mva).mean().shift()
    team[f'pa_{mva}mva'] = team.iloc[:,6].rolling(window=mva).mean().shift()
    team[f'margin_{mva}mva'] = team.iloc[:,8].rolling(window=mva).mean().shift()
    team[f'pyards_{mva}mva'] = team.iloc[:,9].rolling(window=mva).mean().shift()
    team[f'ryards_{mva}mva'] = team.iloc[:,10].rolling(window=mva).mean().shift()
    team[f'opp_pyards_{mva}mva'] = team.iloc[:,11].rolling(window=mva).mean().shift()
    team[f'opp_ryards_{mva}mva'] = team.iloc[:,12].rolling(window=mva).mean().shift()
    team.dropna(inplace=True)
    return team

In [ ]:
# for team in teams:
#     print(f"{team.lower()} = make_team_df('{team}')")

In [29]:
car = make_team_df('CAR')
den = make_team_df('DEN')
ari = make_team_df('ARI')
atl = make_team_df('ATL')
bal = make_team_df('BAL')
buf = make_team_df('BUF')
chi = make_team_df('CHI')
cin = make_team_df('CIN')
cle = make_team_df('CLE')
dal = make_team_df('DAL')
det = make_team_df('DET')
gb = make_team_df('GB')
hou = make_team_df('HOU')
ind = make_team_df('IND')
jax = make_team_df('JAX')
kc = make_team_df('KC')
mia = make_team_df('MIA')
min = make_team_df('MIN')
ne = make_team_df('NE')
no = make_team_df('NO')
nyg = make_team_df('NYG')
nyj = make_team_df('NYJ')
oak = make_team_df('OAK')
phi = make_team_df('PHI')
sdg = make_team_df('SDG')
sea = make_team_df('SEA')
tb = make_team_df('TB')
ten = make_team_df('TEN')
lar = make_team_df('LAR')
pit = make_team_df('PIT')
sf = make_team_df('SF')
was = make_team_df('WAS')

In [34]:
nfl7mva = pd.concat([car,
    den,
    ari,
    atl,
    bal,
    buf,
    chi,
    cin,
    cle,
    dal,
    det,
    gb,
    hou,
    ind,
    jax,
    kc,
    mia,
    min,
    ne,
    no,
    nyg,
    nyj,
    oak,
    phi,
    sdg,
    sea,
    tb,
    ten,
    lar,
    pit,
    sf,
    was,], axis= 0, join='inner')

In [37]:
nfl7mva.to_csv('./data/nfl_7mva.csv')