In [1]:
import pandas as pd

In [6]:
scores = pd.read_csv('./data/spreadspoke_scores.csv')

In [7]:
scores.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,09/02/1966,1966,1,False,Miami Dolphins,14,23,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71,NaN
1,09/03/1966,1966,1,False,Houston Oilers,45,7,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70,NaN
2,09/04/1966,1966,1,False,San Diego Chargers,27,7,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82,NaN
3,09/09/1966,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78,NaN
4,09/10/1966,1966,1,False,Green Bay Packers,24,3,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62,NaN

In [8]:
scores05 = scores[scores['schedule_season']>= 2005]

In [9]:
scores05.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
8673,09/08/2005,2005,1,False,New England Patriots,30,20,Oakland Raiders,NE,-7.5,50,Gillette Stadium,False,71.0,9.0,64,NaN
8674,09/11/2005,2005,1,False,Baltimore Ravens,7,24,Indianapolis Colts,IND,-3.0,47,M&T Bank Stadium,False,69.0,4.0,63,NaN
8675,09/11/2005,2005,1,False,Buffalo Bills,22,7,Houston Texans,BUF,-4.5,39,Ralph Wilson Stadium,False,64.0,8.0,58,NaN
8676,09/11/2005,2005,1,False,Carolina Panthers,20,23,New Orleans Saints,CAR,-6.5,45.5,Bank of America Stadium,False,74.0,12.0,49,NaN
8677,09/11/2005,2005,1,False,Cleveland Browns,13,27,Cincinnati Bengals,CIN,-3.5,44.5,FirstEnergy Stadium,False,69.0,6.0,63,NaN

In [10]:
scores05.describe()

,schedule_season,score_home,score_away,spread_favorite,weather_temperature,weather_wind_mph
count,4005.000000,4005.000000,4005.000000,4005.000000,3721.000000,3721.000000
mean,2012.000000,23.399750,21.066417,-5.445818,61.411180,5.685300
std,4.321033,10.353504,10.047419,3.513149,15.569933,5.245031
min,2005.000000,0.000000,0.000000,-26.500000,-6.000000,0.000000
25%,2008.000000,16.000000,14.000000,-7.000000,51.000000,0.000000
50%,2012.000000,23.000000,20.000000,-4.500000,67.000000,5.000000
75%,2016.000000,30.000000,27.000000,-3.000000,72.000000,9.000000
max,2019.000000,62.000000,59.000000,0.000000,97.000000,40.000000

In [11]:
scores05.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4005 entries, 8673 to 12677
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   schedule_date        4005 non-null   object
 1   schedule_season      4005 non-null   int64
 2   schedule_week        4005 non-null   object
 3   schedule_playoff     4005 non-null   bool
 4   team_home            4005 non-null   object
 5   score_home           4005 non-null   int64
 6   score_away           4005 non-null   int64
 7   team_away            4005 non-null   object
 8   team_favorite_id     4005 non-null   object
 9   spread_favorite      4005 non-null   float64
 10  over_under_line      4005 non-null   object
 11  stadium              4005 non-null   object
 12  stadium_neutral      4005 non-null   bool
 13  weather_temperature  3721 non-null   float64
 14  weather_wind_mph     3721 non-null   float64
 15  weather_humidity     1632 non-null   object
 16  weather_detail       1183 non-null   object
dtypes: bool(2), float64(3), int64(3), object(9)
memory usage: 508.4+ KB

### will decide on weather later