In [6]:
import pandas as pd

In [10]:
nfl = pd.read_csv('./data/spreadspoke_110820.csv', index_col = "schedule_date", parse_dates = True)

### Data starts in 2011 Season

In [11]:
nfl = pd.DataFrame(nfl.loc['2011-09-01':'2020-11-02'])

In [12]:
nfl['over_under_line'] = nfl['over_under_line'].astype(float)

In [13]:
nfl16 = nfl.iloc[:, :7]

### Working on only 2016

In [14]:
nfl16 = pd.DataFrame(nfl16.loc['2016-09-01':'2017-01-01'])

In [15]:
nfl16.drop(columns = 'schedule_playoff',inplace=True)

In [16]:
nfl16['margin'] = nfl16['score_home'] - nfl16['score_away']

- changing team names to city abbreviations

In [17]:
def desc_to_id(id):

    id_dict = {
        'Atlanta Falcons': 'ATL',
        'Chicago Bears': 'CHI',
        'Cleveland Browns': 'CLE',
        'Green Bay Packers': "GB",
        'Indianapolis Colts':'IND',
        'Jacksonville Jaguars':'JAX',
        'New Orleans Saints': 'NO',
        'New York Jets':'NYJ',
        'Philadelphia Eagles':'PHI',
        'Seattle Seahawks':'SEA',
        'St. Louis Rams': 'LAR',
        'Tampa Bay Buccaneers':'TB',
        'Tennessee Titans':'TEN',
        'Washington Redskins':'WAS',
        'Denver Broncos':'DEN',
        'Baltimore Ravens':'BAL',
        'Buffalo Bills':'BUF',
        'Carolina Panthers':'CAR',
        'Cincinnati Bengals': 'CIN',
        'Detroit Lions': 'DET',
        'Kansas City Chiefs': 'KC',
        'Miami Dolphins': 'MIA',
        'Minnesota Vikings':'MIN',
        'New England Patriots':'NE',
        'New York Giants':'NYG',
        'San Francisco 49ers':'SF',
        'Dallas Cowboys': 'DAL',
        'Oakland Raiders': 'OAK',
        'Pittsburgh Steelers':'PIT',
        'San Diego Chargers':'LAC',
        'Arizona Cardinals': 'ARI',
        'Houston Texans':'HOU',
        'Los Angeles Rams':'LAR',
        'Los Angeles Chargers':'LAC'
    }
    
    try:
        return id_dict[id]
    except:
        return 'CHECK!'

In [18]:
nfl16['team_away'] = nfl16['team_away'].apply(desc_to_id)
nfl16['team_home'] = nfl16['team_home'].apply(desc_to_id)

- 32 teams so 16 rows per week

In [19]:
nfl16.shape

(256, 7)

In [20]:
nfl16['home_team']= nfl16['team_home']
nfl16.tail(17)

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,margin,home_team
schedule_date,,,,,,,,
2016-12-26,2016,16,DAL,42.0,21.0,DET,21.0,DAL
2017-01-01,2016,17,ATL,38.0,32.0,NO,6.0,ATL
2017-01-01,2016,17,CIN,27.0,10.0,BAL,17.0,CIN
2017-01-01,2016,17,DEN,24.0,6.0,OAK,18.0,DEN
2017-01-01,2016,17,DET,24.0,31.0,GB,-7.0,DET
2017-01-01,2016,17,IND,24.0,20.0,JAX,4.0,IND
2017-01-01,2016,17,LAR,6.0,44.0,ARI,-38.0,LAR
2017-01-01,2016,17,MIA,14.0,35.0,NE,-21.0,MIA
2017-01-01,2016,17,MIN,38.0,10.0,CHI,28.0,MIN
2017-01-01,2016,17,NYJ,30.0,10.0,BUF,20.0,NYJ
2017-01-01,2016,17,PHI,27.0,13.0,DAL,14.0,PHI
2017-01-01,2016,17,PIT,27.0,24.0,CLE,3.0,PIT
2017-01-01,2016,17,LAC,27.0,37.0,KC,-10.0,LAC
2017-01-01,2016,17,SF,23.0,25.0,SEA,-2.0,SF
2017-01-01,2016,17,TB,17.0,16.0,CAR,1.0,TB
2017-01-01,2016,17,TEN,24.0,17.0,HOU,7.0,TEN
2017-01-01,2016,17,WAS,10.0,19.0,NYG,-9.0,WAS

In [21]:
#nfl16['id'] = nfl16['schedule_season'].astype(str) + nfl16['team_home'] + nfl16['schedule_week']

In [22]:
nfl16.head()

,schedule_season,schedule_week,team_home,score_home,score_away,team_away,margin,home_team
schedule_date,,,,,,,,
2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN
2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI
2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL
2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL
2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL

### need to cut to week 6 here?

In [23]:
#nfl16_a[nfl16_a['schedule_week']=='6']

In [24]:
# h is for home designation
nfl16_h = nfl16.rename(columns= {
    'team_home': 'team',
    'score_home': 'score',
    'score_away': 'opponent_score',    
})

- needed to add unique id

In [25]:
nfl16_h['id'] = nfl16_h['schedule_season'].astype(str) + nfl16_h['team'] + nfl16_h['schedule_week']

In [26]:
nfl16_h.head()

,schedule_season,schedule_week,team,score,opponent_score,team_away,margin,home_team,id
schedule_date,,,,,,,,,
2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN,2016DEN1
2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI,2016ARI1
2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL,2016ATL1
2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL,2016BAL1
2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL,2016DAL1

In [27]:
nfl16_h.drop(columns = 'team_away', inplace=True)

In [28]:
nfl16_h.shape

(256, 8)

In [29]:
# a is for home designation
nfl16_a = nfl16.rename(columns= {
    'team_away': 'team',
    'score_away': 'score',
    'score_home': 'opponent_score',    
})

In [30]:
nfl16_a.head()

,schedule_season,schedule_week,team_home,opponent_score,score,team,margin,home_team
schedule_date,,,,,,,,
2016-09-08,2016,1,DEN,21.0,20.0,CAR,1.0,DEN
2016-09-11,2016,1,ARI,21.0,23.0,NE,-2.0,ARI
2016-09-11,2016,1,ATL,24.0,31.0,TB,-7.0,ATL
2016-09-11,2016,1,BAL,13.0,7.0,BUF,6.0,BAL
2016-09-11,2016,1,DAL,19.0,20.0,NYG,-1.0,DAL

- need to add unique "id"

In [31]:
nfl16_a['id'] = nfl16_a['schedule_season'].astype(str) + nfl16_a['team'] + nfl16_a['schedule_week']

In [32]:
nfl16_a.drop(columns='team_home', inplace=True)

In [33]:
nfl16_a['margin'] = nfl16_a['score'] - nfl16_a['opponent_score']

In [34]:
nfl16_a.shape

(256, 8)

In [35]:
nfl16_a.head()

,schedule_season,schedule_week,opponent_score,score,team,margin,home_team,id
schedule_date,,,,,,,,
2016-09-08,2016,1,21.0,20.0,CAR,-1.0,DEN,2016CAR1
2016-09-11,2016,1,21.0,23.0,NE,2.0,ARI,2016NE1
2016-09-11,2016,1,24.0,31.0,TB,7.0,ATL,2016TB1
2016-09-11,2016,1,13.0,7.0,BUF,-6.0,BAL,2016BUF1
2016-09-11,2016,1,19.0,20.0,NYG,1.0,DAL,2016NYG1

In [36]:
nfl16_a = nfl16_a[['id','schedule_season', 'schedule_week', 'team', 'score', 'opponent_score', 'margin', 'home_team']]

In [37]:
#nfl16_a[nfl16_a['schedule_week']=='6']
#nfl16_a.shape #(256,8)
nfl16_a.head()

,id,schedule_season,schedule_week,team,score,opponent_score,margin,home_team
schedule_date,,,,,,,,
2016-09-08,2016CAR1,2016,1,CAR,20.0,21.0,-1.0,DEN
2016-09-11,2016NE1,2016,1,NE,23.0,21.0,2.0,ARI
2016-09-11,2016TB1,2016,1,TB,31.0,24.0,7.0,ATL
2016-09-11,2016BUF1,2016,1,BUF,7.0,13.0,-6.0,BAL
2016-09-11,2016NYG1,2016,1,NYG,20.0,19.0,1.0,DAL

In [38]:
nfl16_ha = pd.concat([nfl16_h, nfl16_a], axis=0, join ='inner')

In [39]:
nfl16_ha.sort_values(by = ['schedule_date','team'],inplace =True)

In [40]:
nfl16_ha = nfl16_ha.reset_index()
nfl16_ha.tail()

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,margin,home_team,id
507,2017-01-01,2016,17,SEA,25.0,23.0,2.0,SF,2016SEA17
508,2017-01-01,2016,17,SF,23.0,25.0,-2.0,SF,2016SF17
509,2017-01-01,2016,17,TB,17.0,16.0,1.0,TB,2016TB17
510,2017-01-01,2016,17,TEN,24.0,17.0,7.0,TEN,2016TEN17
511,2017-01-01,2016,17,WAS,10.0,19.0,-9.0,WAS,2016WAS17

In [41]:
nfl16_ha.shape

(512, 9)

### changing to week 6 here

In [42]:
nfl16_ha.nunique()

schedule_date       51
schedule_season      1
schedule_week       17
team                32
score               46
opponent_score      46
margin              67
home_team           32
id                 512
dtype: int64

In [43]:
nfl16_ha.shape

(512, 9)

In [44]:
#nfl16_ha =pd.DataFrame(nfl16_ha.loc[:'2016-10-18'])

In [45]:
nfl16_ha.tail(2)

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,margin,home_team,id
510,2017-01-01,2016,17,TEN,24.0,17.0,7.0,TEN,2016TEN17
511,2017-01-01,2016,17,WAS,10.0,19.0,-9.0,WAS,2016WAS17

In [46]:
nfl16_ha.shape

(512, 9)

##### Brings in the yardage file

In [47]:
nfl16_yards = pd.read_csv('./data/nfl16_yards.csv', index_col=0)

In [48]:
nfl16_yards.head()

   game_number team  passing_yards  rushing_yards
0            1  ARI            271             92
1            1  ATL            334             52
2            1  BAL            258             83
3            1  BUF            111             65
4            1  CAR            194            157

In [49]:
nfl16_yards['id'] = '2016'+ nfl16_yards['team'] + nfl16_yards['game_number'].astype(str)

### nfl16_yards is here is 2016 passing and rushing yards gained per game

In [63]:
nfl16_yards[nfl16_yards['team']== 'NE']

Empty DataFrame
Columns: [game_number, team, passing_yards, rushing_yards, id]
Index: []

### nfl16_ha is 2016 points scored and allowed

In [64]:
nfl16_ha.head(32)

,schedule_date,schedule_season,schedule_week,team,score,opponent_score,margin,home_team,id
0,2016-09-08,2016,1,CAR,20.0,21.0,-1.0,DEN,2016CAR1
1,2016-09-08,2016,1,DEN,21.0,20.0,1.0,DEN,2016DEN1
2,2016-09-11,2016,1,ARI,21.0,23.0,-2.0,ARI,2016ARI1
3,2016-09-11,2016,1,ATL,24.0,31.0,-7.0,ATL,2016ATL1
4,2016-09-11,2016,1,BAL,13.0,7.0,6.0,BAL,2016BAL1
5,2016-09-11,2016,1,BUF,7.0,13.0,-6.0,BAL,2016BUF1
6,2016-09-11,2016,1,CHI,14.0,23.0,-9.0,HOU,2016CHI1
7,2016-09-11,2016,1,CIN,23.0,22.0,1.0,NYJ,2016CIN1
8,2016-09-11,2016,1,CLE,10.0,29.0,-19.0,PHI,2016CLE1
9,2016-09-11,2016,1,DAL,19.0,20.0,-1.0,DAL,2016DAL1
10,2016-09-11,2016,1,DET,39.0,35.0,4.0,IND,2016DET1
11,2016-09-11,2016,1,GB,27.0,23.0,4.0,JAX,2016GB1
12,2016-09-11,2016,1,HOU,23.0,14.0,9.0,HOU,2016HOU1
13,2016-09-11,2016,1,IND,35.0,39.0,-4.0,IND,2016IND1
14,2016-09-11,2016,1,JAX,23.0,27.0,-4.0,JAX,2016JAX1
15,2016-09-11,2016,1,KC,33.0,27.0,6.0,KC,2016KC1
16,2016-09-11,2016,1,LAC,27.0,33.0,-6.0,KC,2016LAC1
17,2016-09-11,2016,1,MIA,10.0,12.0,-2.0,SEA,2016MIA1
18,2016-09-11,2016,1,MIN,25.0,16.0,9.0,TEN,2016MIN1
19,2016-09-11,2016,1,NE,23.0,21.0,2.0,ARI,2016NE1
20,2016-09-11,2016,1,NO,34.0,35.0,-1.0,NO,2016NO1
21,2016-09-11,2016,1,NYG,20.0,19.0,1.0,DAL,2016NYG1
22,2016-09-11,2016,1,NYJ,22.0,23.0,-1.0,NYJ,2016NYJ1
23,2016-09-11,2016,1,OAK,35.0,34.0,1.0,NO,2016OAK1
24,2016-09-11,2016,1,PHI,29.0,10.0,19.0,PHI,2016PHI1
25,2016-09-11,2016,1,SEA,12.0,10.0,2.0,SEA,2016SEA1
26,2016-09-11,2016,1,TB,31.0,24.0,7.0,ATL,2016TB1
27,2016-09-11,2016,1,TEN,16.0,25.0,-9.0,TEN,2016TEN1
28,2016-09-12,2016,1,LAR,0.0,28.0,-28.0,SF,2016LAR1
29,2016-09-12,2016,1,PIT,38.0,16.0,22.0,WAS,2016PIT1
30,2016-09-12,2016,1,SF,28.0,0.0,28.0,SF,2016SF1
31,2016-09-12,2016,1,WAS,16.0,38.0,-22.0,WAS,2016WAS1

In [52]:
nfl16_agg = pd.merge(nfl16_ha, nfl16_yards, on = 'id')

In [53]:
nfl16_agg.sort_values('schedule_date').head(32)

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,margin,home_team,id,game_number,team_y,passing_yards,rushing_yards
0,2016-09-08,2016,1,CAR,20.0,21.0,-1.0,DEN,2016CAR1,1,CAR,194,157
1,2016-09-08,2016,1,DEN,21.0,20.0,1.0,DEN,2016DEN1,1,DEN,178,148
21,2016-09-11,2016,1,TEN,16.0,25.0,-9.0,TEN,2016TEN1,1,TEN,271,64
20,2016-09-11,2016,1,SEA,12.0,10.0,2.0,SEA,2016SEA1,1,SEA,258,112
19,2016-09-11,2016,1,PHI,29.0,10.0,19.0,PHI,2016PHI1,1,PHI,278,133
17,2016-09-11,2016,1,NYJ,22.0,23.0,-1.0,NYJ,2016NYJ1,1,NYJ,189,152
16,2016-09-11,2016,1,NYG,20.0,19.0,1.0,DAL,2016NYG1,1,NYG,207,113
15,2016-09-11,2016,1,MIN,25.0,16.0,9.0,TEN,2016MIN1,1,MIN,236,65
14,2016-09-11,2016,1,MIA,10.0,12.0,-2.0,SEA,2016MIA1,1,MIA,186,64
13,2016-09-11,2016,1,JAX,23.0,27.0,-4.0,JAX,2016JAX1,1,JAX,320,48
12,2016-09-11,2016,1,IND,35.0,39.0,-4.0,IND,2016IND1,1,IND,385,82
18,2016-09-11,2016,1,OAK,35.0,34.0,1.0,NO,2016OAK1,1,OAK,319,167
10,2016-09-11,2016,1,DET,39.0,35.0,4.0,IND,2016DET1,1,DET,340,116
9,2016-09-11,2016,1,DAL,19.0,20.0,-1.0,DAL,2016DAL1,1,DAL,227,101
8,2016-09-11,2016,1,CLE,10.0,29.0,-19.0,PHI,2016CLE1,1,CLE,190,120
7,2016-09-11,2016,1,CIN,23.0,22.0,1.0,NYJ,2016CIN1,1,CIN,366,57
6,2016-09-11,2016,1,CHI,14.0,23.0,-9.0,HOU,2016CHI1,1,CHI,216,73
5,2016-09-11,2016,1,BUF,7.0,13.0,-6.0,BAL,2016BUF1,1,BUF,111,65
11,2016-09-11,2016,1,HOU,23.0,14.0,9.0,HOU,2016HOU1,1,HOU,231,129
4,2016-09-11,2016,1,BAL,13.0,7.0,6.0,BAL,2016BAL1,1,BAL,258,83
3,2016-09-11,2016,1,ATL,24.0,31.0,-7.0,ATL,2016ATL1,1,ATL,334,52
2,2016-09-11,2016,1,ARI,21.0,23.0,-2.0,ARI,2016ARI1,1,ARI,271,92
23,2016-09-12,2016,1,PIT,38.0,16.0,22.0,WAS,2016PIT1,1,PIT,300,147
24,2016-09-12,2016,1,WAS,16.0,38.0,-22.0,WAS,2016WAS1,1,WAS,329,55
22,2016-09-12,2016,1,LAR,0.0,28.0,-28.0,SF,2016LAR1,1,LAR,130,65
25,2016-09-15,2016,2,BUF,31.0,37.0,-6.0,BUF,2016BUF2,2,BUF,307,86
26,2016-09-15,2016,2,NYJ,37.0,31.0,6.0,BUF,2016NYJ2,2,NYJ,374,123
38,2016-09-18,2016,2,JAX,14.0,38.0,-24.0,LAC,2016JAX2,2,JAX,329,69
47,2016-09-18,2016,2,WAS,23.0,27.0,-4.0,WAS,2016WAS2,2,WAS,364,82
46,2016-09-18,2016,2,TEN,16.0,15.0,1.0,DET,2016TEN2,2,TEN,238,139
45,2016-09-18,2016,2,SEA,3.0,9.0,-6.0,LAR,2016SEA2,2,SEA,254,67
44,2016-09-18,2016,2,PIT,24.0,16.0,8.0,PIT,2016PIT2,2,PIT,259,124

In [54]:
nfl16_agg[nfl16_agg['schedule_week'] =='1'].sort_values('home_team')

,schedule_date,schedule_season,schedule_week,team_x,score,opponent_score,margin,home_team,id,game_number,team_y,passing_yards,rushing_yards
2,2016-09-11,2016,1,ARI,21.0,23.0,-2.0,ARI,2016ARI1,1,ARI,271,92
3,2016-09-11,2016,1,ATL,24.0,31.0,-7.0,ATL,2016ATL1,1,ATL,334,52
4,2016-09-11,2016,1,BAL,13.0,7.0,6.0,BAL,2016BAL1,1,BAL,258,83
5,2016-09-11,2016,1,BUF,7.0,13.0,-6.0,BAL,2016BUF1,1,BUF,111,65
16,2016-09-11,2016,1,NYG,20.0,19.0,1.0,DAL,2016NYG1,1,NYG,207,113
9,2016-09-11,2016,1,DAL,19.0,20.0,-1.0,DAL,2016DAL1,1,DAL,227,101
0,2016-09-08,2016,1,CAR,20.0,21.0,-1.0,DEN,2016CAR1,1,CAR,194,157
1,2016-09-08,2016,1,DEN,21.0,20.0,1.0,DEN,2016DEN1,1,DEN,178,148
6,2016-09-11,2016,1,CHI,14.0,23.0,-9.0,HOU,2016CHI1,1,CHI,216,73
11,2016-09-11,2016,1,HOU,23.0,14.0,9.0,HOU,2016HOU1,1,HOU,231,129
12,2016-09-11,2016,1,IND,35.0,39.0,-4.0,IND,2016IND1,1,IND,385,82
10,2016-09-11,2016,1,DET,39.0,35.0,4.0,IND,2016DET1,1,DET,340,116
13,2016-09-11,2016,1,JAX,23.0,27.0,-4.0,JAX,2016JAX1,1,JAX,320,48
18,2016-09-11,2016,1,OAK,35.0,34.0,1.0,NO,2016OAK1,1,OAK,319,167
7,2016-09-11,2016,1,CIN,23.0,22.0,1.0,NYJ,2016CIN1,1,CIN,366,57
17,2016-09-11,2016,1,NYJ,22.0,23.0,-1.0,NYJ,2016NYJ1,1,NYJ,189,152
8,2016-09-11,2016,1,CLE,10.0,29.0,-19.0,PHI,2016CLE1,1,CLE,190,120
19,2016-09-11,2016,1,PHI,29.0,10.0,19.0,PHI,2016PHI1,1,PHI,278,133
14,2016-09-11,2016,1,MIA,10.0,12.0,-2.0,SEA,2016MIA1,1,MIA,186,64
20,2016-09-11,2016,1,SEA,12.0,10.0,2.0,SEA,2016SEA1,1,SEA,258,112
22,2016-09-12,2016,1,LAR,0.0,28.0,-28.0,SF,2016LAR1,1,LAR,130,65
15,2016-09-11,2016,1,MIN,25.0,16.0,9.0,TEN,2016MIN1,1,MIN,236,65
21,2016-09-11,2016,1,TEN,16.0,25.0,-9.0,TEN,2016TEN1,1,TEN,271,64
23,2016-09-12,2016,1,PIT,38.0,16.0,22.0,WAS,2016PIT1,1,PIT,300,147
24,2016-09-12,2016,1,WAS,16.0,38.0,-22.0,WAS,2016WAS1,1,WAS,329,55

In [55]:
nfl16_agg.to_csv('nfl16agg.csv')

In [56]:
nfl16w6_yards = pd.DataFrame(nfl16_yards[nfl16_yards['game_number']<=6])
nfl16w6_yards.tail()

     game_number team  passing_yards  rushing_yards        id
187            6  SEA            225             52  2016SEA6
188            6  SFO            187            133  2016SFO6
189            6  TAM            269            249  2016TAM6
190            6  TEN            284            137  2016TEN6
191            6  WAS            263            230  2016WAS6

In [57]:
nfl16w6_yards.sort_values(by = ['game_number','team'],inplace =True)

In [58]:
nfl16w6_yards.tail()

     game_number team  passing_yards  rushing_yards        id
187            6  SEA            225             52  2016SEA6
188            6  SFO            187            133  2016SFO6
189            6  TAM            269            249  2016TAM6
190            6  TEN            284            137  2016TEN6
191            6  WAS            263            230  2016WAS6

In [59]:
yards16_f6 = nfl16w6_yards.groupby('team').sum().reset_index()

In [60]:
yards16_f6.shape

(32, 4)

In [61]:
pf_pa.head(32)

NameError: name 'pf_pa' is not defined

In [ ]:
pf_pa = pd.DataFrame(nfl16_ha.groupby('team').sum()[['score','opponent_score','margin']])
#pfa = pd.DataFrame(nfl16_ha.groupby('team').sum()[['score_away']])
#pfh.reset_index(inplace = True)
pf_pa.reset_index(inplace = True)

In [ ]:
nfl16_agg = pd.concat([pf_pa, yards16_f6], axis=1, join ='inner')

In [ ]:
nfl16_agg.shape

In [ ]:
nfl16_agg1 = pd.concat([nfl16_agg, nfl_target['score']], axis=1, join ='inner')

In [ ]:
nfl16_agg1.count()

In [ ]:
nfl_target = pd.DataFrame(nfl16_ha[nfl16_ha['schedule_week']=='6'].sort_values(by='team')).reset_index()

In [ ]:
nfl_target.shape

In [ ]:
nfl16_agg1.tail()

In [ ]:
# nfl16_agg1.rename(columns= {'score':'target'})
# nfl16_agg1