In [75]:
import pandas as pd

In [76]:
#df = pd.read_json('./data/games_1512362753.8735218.json')

In [77]:
#pd.set_option('display.max_columns', None)

In [78]:
#pstats_2005 = df[df['year']>=2005]

In [79]:
#pstats_2005.shape

In [80]:
#pstats_2005.to_csv('player_stats_2005.csv')

In [81]:
#pstats = pd.DataFrame(pstats_2005)

In [82]:
pstats = pd.read_csv('./data/player_stats_2005.csv', index_col = "date", parse_dates = True)

In [83]:
pstats.sort_index(inplace=True)
pstats.drop(columns = 'Unnamed: 0', inplace=True)

pstats.head()

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
date,,,,,,,,,,,,,,,,,,,,,
2005-09-08,2240,2005,1,28-036,NWE,H,OAK,True,30,20,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,6141,2005,1,30-057,NWE,H,OAK,True,30,20,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,7542,2005,1,25-044,OAK,A,NWE,False,20,30,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,14783,2005,1,33-271,NWE,H,OAK,True,30,20,...,0,0,0,0,0,0,0,0,0,0
2005-09-08,11755,2005,1,26-301,OAK,A,NWE,False,20,30,...,0,0,0,0,0,0,0,0,0,0

In [84]:
pstats.loc['2017':]

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_yards,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,12145,2016,16,25-141,MIN,H,CHI,True,38,10,...,0,0,0,0,0,0,0,0,0,0
2017-01-01,15408,2016,16,24-108,IND,H,JAX,True,24,20,...,0,0,0,0,0,0,0,0,0,0
2017-01-01,1637,2016,16,25-289,PIT,H,CLE,True,27,24,...,0,0,0,0,0,0,0,8,368,0
2017-01-01,229,2016,16,22-151,TAM,H,CAR,True,17,16,...,0,0,0,0,0,0,0,0,0,0
2017-01-01,23497,2016,16,31-081,BAL,A,CIN,False,10,27,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-30,21646,2017,12,26-090,WAS,A,DAL,False,14,38,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,19628,2017,12,25-339,WAS,A,DAL,False,14,38,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,12986,2017,12,25-242,DAL,H,WAS,True,38,14,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,24544,2017,12,35-208,DAL,H,WAS,True,38,14,...,0,0,0,0,0,0,0,0,0,0
2017-11-30,20760,2017,12,25-324,DAL,H,WAS,True,38,14,...,0,0,0,0,0,0,0,0,0,0

In [164]:
#pstats.loc[pstats['game_location'] == 'H', 'home_team'] = pstats['team']

In [293]:
y2016 = pd.DataFrame(pstats[pstats['year']== 2016])

In [294]:
y2016 = pd.DataFrame(y2016[y2016['game_number']<17])

In [295]:
y2016.tail()

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked,home_team
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,10770,2016,16,25-173,OAK,A,DEN,False,6,24,...,0,0,0,0,0,0,0,0,0,NaN
2017-01-01,9914,2016,16,32-058,NOR,A,ATL,False,32,38,...,0,0,0,0,0,0,0,0,0,NaN
2017-01-01,21113,2016,16,22-289,BAL,A,CIN,False,10,27,...,0,0,0,0,0,0,0,0,0,NaN
2017-01-01,24731,2016,16,27-037,MIN,H,CHI,True,38,10,...,0,0,0,0,0,0,0,0,0,NaN
2017-01-01,42,2016,16,24-330,KAN,A,SDG,True,37,27,...,0,0,0,0,0,0,0,0,0,NaN

In [296]:
import numpy as np

In [297]:
y2016['home_team'] = np.where(y2016['game_location'] == 'H', y2016['team'], y2016['opponent'])

In [298]:
y2016.head()

,player_id,year,game_number,age,team,game_location,opponent,game_won,player_team_score,opponent_score,...,defense_interception_touchdowns,defense_safeties,point_after_attemps,point_after_makes,field_goal_attempts,field_goal_makes,punting_attempts,punting_yards,punting_blocked,home_team
date,,,,,,,,,,,,,,,,,,,,,
2016-09-08,16815,2016,1,31-181,CAR,A,DEN,False,20,21,...,0,0,0,0,0,0,0,0,0,DEN
2016-09-08,504,2016,1,24-021,DEN,H,CAR,True,21,20,...,0,0,0,0,0,0,0,0,0,DEN
2016-09-08,2579,2016,1,24-267,CAR,A,DEN,False,20,21,...,0,0,0,0,0,0,0,0,0,DEN
2016-09-08,16754,2016,1,30-103,CAR,A,DEN,False,20,21,...,0,0,0,0,0,0,0,0,0,DEN
2016-09-08,112,2016,1,29-002,CAR,A,DEN,False,20,21,...,0,0,0,0,0,0,0,0,0,DEN

In [299]:
y2016 = y2016[['player_id', 'game_number', 'team', 'home_team', 'opponent', 'game_won', 'player_team_score', 'opponent_score',
    'passing_yards', 'rushing_yards', 'receiving_yards']]

In [300]:
y2016.reset_index(inplace=True)

In [301]:
y2016['date'] = y2016['date'].astype(str)

In [303]:
y2016w = pd.DataFrame(y2016.groupby(['game_number', 'team']).sum()[['passing_yards','rushing_yards']])
y2016w.reset_index(inplace=True)

In [304]:
y2016w.head()

   game_number team  passing_yards  rushing_yards
0            1  ARI            271             92
1            1  ATL            334             52
2            1  BAL            258             83
3            1  BUF            111             65
4            1  CAR            194            157

In [ ]:
#sort_values(by = ['schedule_date','home_team'],inplace =True)

In [ ]:
y2016w.to_csv('nfl16_yards.csv')

In [ ]:
y2016w[y2016w['team']== 'NOR']

In [ ]:
y2016 = y2016[y2016['game_number'] <= 16]
y2016.tail()

In [ ]:
#pfh = pd.DataFrame(nfl17w15.groupby('team_home').sum()[['score_home']])
yards16 = y2016.groupby('team').sum()[['passing_yards','receiving_yards','rushing_yards']]

In [305]:
yards16.head()

      passing_yards  receiving_yards  rushing_yards
team
ARI            4425             4425           1732
ATL            4960             4960           1928
BAL            4343             4343           1463
BUF            3250             3250           2630
CAR            3962             3962           1814

In [ ]:
y2016.columns

#### verfied stats good

In [ ]:
#y2016[y2016['player_id']==4644] #kirk cousins

In [ ]:
ind_2016 = y2016.groupby(['player_id']).sum()

In [ ]:
ind_2016.reset_index(inplace=True)

In [ ]:
ind_2016[ind_2016['player_id']==24497] #verfied Jameson Winston stats

In [ ]:
df_2016 = pd.DataFrame(ind_2016)

In [ ]:
#df_2016[df_2016['passing_attempts']>400]